.container-fluid
	.row
		.col-md-1.text-center .col-md-1
		.col-md-1.text-center .col-md-1
		.col-md-1.text-center .col-md-1
		.col-md-1.text-center .col-md-1
		.col-md-1.text-center .col-md-1
		.col-md-1.text-center .col-md-1
		.col-md-1.text-center .col-md-1
		.col-md-1.text-center .col-md-1
		.col-md-1.text-center .col-md-1
		.col-md-1.text-center .col-md-1
		.col-md-1.text-center .col-md-1
		.col-md-1.text-center .col-md-1
	.row
		.col-md-8.text-center .col-md-8
		.col-md-4.text-center .col-md-4
	.row
		.col-md-4.text-center .col-md-4
		.col-md-4.text-center .col-md-4
		.col-md-4.text-center .col-md-4
	.row
		.col-md-6.text-center .col-md-6
		.col-md-6.text-center .col-md-6

