// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-1.text-center {
	background-color: red;
}

.col-md-4.text-center {
	background-color: orange;
}

.col-md-6.text-center {
	background-color: yellow;
}

.col-md-8.text-center {
	background-color: blue;
	color: yellow;
}


